.sreach_banner {
    width: 60%;
    max-width: 300px;
    padding: 12px 16px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .sreach_banner:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  .select_banner{
    width: 60%;
    max-width: 100px;
    padding: 12px 16px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }